.aboutMe {
  color: green;
  background-color: black;
}
.education {
 color: yellow;
 background-color: black;
}
.workExperience {
 color: white;
 background-color: black;
}
.goals {
 color: blue;
 background-color: black;
}
